.hero-card{
    margin: 0% 3% 0% 3%;   /* t r b l*/
}


.card-img{
    max-height: 35em;
    filter: brightness(50%);
}

.ctabtn{
    margin-top: 1%;
}

.catalog-header{
    font-family: 'Arial';
    margin:  2% 0% 2% 0%;
}

.catalog-menu{
    margin: 10% 0% 0% 3%;
}
.catalog-menu-a-item{
    color: black;
   text-decoration: none;
}