
.nav-container{
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar-item :hover{
    text-decoration: none;
    text-decoration-line: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family:cursive;
}